#gn-search-bar {
  min-height: 36px;
  display: flex;

  border-radius: var(--#{$prefix}border-radius);

  .form-control {
    border-radius: var(--#{$prefix}border-radius);
  }
}

form input {
  border-radius: var(--#{$prefix}border-radius);
  padding: 8px 12px;
  outline: none;
}

.tox.tox-tinymce {
  border-radius: var(--#{$prefix}border-radius)!important;
}

