.msgapi .toc-default-group {
  .toc-default-layer {
    border-radius: var(--#{$prefix}border-radius);

    .toc-default-layer-head {
      background: transparent;
      border-radius: var(--#{$prefix}border-radius);

      .toc-title {
        width: 210px;
        max-width: 210px;
      }
    }
  }

  .toc-legend {
    font-size: 11px;
  }

  .toc-default-group-head {
    .toc-group-title {
      width: 210px;
    }
  }
}